.footer{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 70px;
  padding: 15px;
  text-align: center;
}

.footer_socials{
  display: none;

    @media (max-width: 768px){
    display: block;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 10px;
    color: var(--secondaryColor);
  }

  ul{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.footer_credit{
  color: var(--secondaryColor);
  font-family: var(--codeFont);
  font-size: 12px;
  line-height: 1.5;

  a{
    padding: 10px;

    &:hover{
      color: var(--primaryColor);
    }
  }
}

.github_stats{
  margin-top: 10px;

  & > span{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 7px;
  }

  i{
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
  }
}

.mail_btn{
  //background: #289de0;
  color: white;
  padding: 12px 18px;
  border: 1px solid var(--hoverColor);
  outline: none;
  margin-top: 20px;
  transition: all var(--duration) ease-in-out;
  border-radius: var(--borderRadius);
  text-align: center;

  span{
    display: flex;
    flex-direction: row;
  }

  img{
    width: 22px;
    height: 15px;
    margin-right: 5px;
  }

  &:hover{
    border-color: var(--secondaryColor);
  }
}