.inner{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;

  @media (max-width: 768px){
    display: block;
  }
}

.styledText{
  p{
    margin: 0 0 15px;
  }
}

.styledPic{
  position: relative;
  max-width: 300px;

  @media (max-width: 768px){
    margin: 50px auto 0;
    width: 70%;
  }
}

.wrapper{
  box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
  transition: var(--transition);
  display: block;
  position: relative;
  width: 100%;
  border-radius: var(--borderRadius);
  background-color: var(--primaryColor);

  &::before{
    top: 0;
    left: 0;
    background-color: var(--navy);
    mix-blend-mode: screen;
  }

  &::after, &::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--borderRadius);
    transition: var(--transition);
  }

  &::after{
    border: 2px solid var(--primaryColor);
    top: 20px;
    left: 20px;
    z-index: -1;
  }

  img{
    border-radius: var(--borderRadius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: var(--transition);
  }

  &:hover, &:focus{
    background: transparent;
    outline: 0;
    box-shadow: 0 20px 30px -15px rgba(2,12,27,0.7);

    img{
      filter: none;
      mix-blend-mode: normal;
    }

    &::after{
      top: 15px;
      left: 15px;
    }
  }
}