.featured_articles{
  margin: 10px 0 0 -20px;

  @media (min-width: 700px) {
    display: flex;
    justify-content: space-between;
  }
}

.featured_articles_item{
  border: 0 !important;
  width: 320px;
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }

  //&:hover > .anim_hover{
  //  opacity: 1;
  //}
}

.featured_article_anim{
  position: relative;
  width: 100%;
  padding: 20px;
}

.con{
  display: flex;
  flex-direction: column;
}

.con_img{
  border-radius: 8px;
  width: 320px;
  height: 180px;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  filter: grayscale(1);
}

.article_content{
  max-width: 450px;
  margin-right: 20px;

  @media (min-width: 700px){
    max-width: 100%;
    margin-right: 0;
  }

  h3{
    color: var(--primaryColor);
    font-size: 18px;
    margin: 0;
    font-family: var(--bodyFont);
  }

  p:last-child{
    margin: 0;
    color: var(--primaryColor);
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1.2px;
    font-size: 12px;
  }
}

.desc{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0!important;
}

.anim_hover{
  z-index: -1;
  background-color: var(--hoverColor);
  border-radius: var(--borderRadius);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}