@import 'remixicon/fonts/remixicon.css';

:root{
  --bodyFont: "Biotif",sans-serif;
  --headingFont: "Neuzeit Grotesk Bold",sans-serif;
  --codeFont: "Fira Code",monospace;
  --primaryColor: #f2f2f2;
  --secondaryColor: #8f9ba8;
  --backgroundColor: #08070b;
  --commandColor: hsla(0,0%,100%,0.05);
  --hoverColor: #212024;
  --gradientDegree: 135deg;
  --navHeightDesktop: 60px;
  --navHeightMobile: 110px;
  --borderRadius: 8px;
  --duration: 0.2s;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --navy: #0a192f;
  --darkSlate: #495670;
  --background: #151417;
  --comment: #6272a4;
  --foreground: #f8f8f2;
  --selection: #44475a;
  --cyan: #80ffea;
  --green: #8aff80;
  --orange: #ffca80;
  --pink: #ff80bf;
  --purple: #9580ff;
  --red: #ff9580;
  --yellow: #ffff80;
  --background-30: #282a3633;
  --comment-30: #6272a433;
  --foreground-30: #f8f8f233;
  --selection-30: #44475a33;
  --cyan-30: #80ffea33;
  --green-30: #8aff80;
  --orange-30: #ffca80;
  --pink-30: #FF80BF3;
  --purple-30: #9580ff;
  --red-30: #ff9580;
  --yellow-30: #ffff80;
  --background-40: #282a3666;
  --comment-40: #6272a466;
  --foreground-40: #f8f8f266;
  --selection-40: #44475a66;
  --cyan-40: #80ffea66;
  --green-40: #8aff80;
  --orange-40: #ffca80;
  --pink-40: #FF80BF6;
  --purple-40: #9580ff;
  --red-40: #ff9580;
  --yellow-40: #ffff80;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-track {
  background: var(--navy);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondaryColor);
  border: 3px solid var(--navy);
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 12px;
}

body{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
}

::selection {
  background-color: var(--orange);
  -webkit-text-fill-color: var(--backgroundColor);
  color: var(--backgroundColor);
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}

.leo{
  @media (prefers-reduced-motion: no-preference) {
  height: 70px;
  transform: translateY(0px);
  background-color: rgba(10, 25, 47, 0.85);
  box-shadow: 0 10px 30px -10px rgba(2,12,27,0.7);
}
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 0;
}

:focus:not(:focus-visible) {
  outline: none;
  outline-offset: 0;
}

section {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1000px;

  @media (max-width: 768px) {
    padding: 80px 0 !important;
  }

  @media (max-width: 480px){
    padding: 60px 0 !important;
  }
}


h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: 600;
  line-height: 1.1;
}

.gradient {
  background-size: 100%;
  -moz-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-pink-purple {
  background-image: linear-gradient(var(--gradientDegree),var(--pink) 0,var(--purple) 100%);
}

img{
  display: block;
  max-width: 100%;
}

/* Fonts
   ========================================================================== */

@font-face {
  font-family: 'Neuzeit Grotesk Bold';
  src: url('../font/NeuzeitGrotesk-Bold.woff2') format('woff2'),
  url('../font/NeuzeitGrotesk-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../font/FiraCode-Regular.woff2') format('woff2'),
  url('../font/FiraCode-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Biotif';
  src: url('../font/Biotif-Bold.woff2') format('woff2'),
  url('../font/Biotif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Biotif';
  src: url('../font/Biotif-SemiBold.woff2') format('woff2'),
  url('../font/Biotif-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Biotif';
  src: url('../font/Biotif-Book.woff2') format('woff2'),
  url('../font/Biotif-Book.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Biotif';
  src: url('../font/Biotif-Regular.woff2') format('woff2'),
  url('../font/Biotif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Biotif';
  src: url('../font/Biotif-RegularItalic.woff2') format('woff2'),
  url('../font/Biotif-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}