.root{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

.main {
  padding: 0 150px;
  counter-reset: section 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;

  @media (max-width: 1080px) {
    padding: 0 100px;
  }

  @media (max-width: 768px){
    padding: 0 50px;
  }

  @media (max-width: 480px) {
    padding: 0 25px;
  }
}

.layout{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content{
  display: block;
}